*{
    box-sizing: border-box;
}

.counter{
    display: flex;
    flex-direction: column;
    width: 7%;
    gap: 1rem;
    margin-bottom: 1rem;
}

.status{
    font-size: 1rem;
}

ul{
    list-style: none;
}